.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &__background {
    mix-blend-mode: hard-light;
    @include full-screen;
    z-index: -1;
  }
}