.grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  perspective: 350px;
  perspective-origin: 50%;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-auto-columns: auto;
  align-items: center;
  justify-items: center;
  display: grid;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: none;

  &__item {
    display: grid;
    grid-area: span 1 / span 1 / span 1 / span 1;
    width: 4rem;
    height: 4rem;
    border-radius: 0.7rem;
    background-color: $grid-item-color;

    &--plus {
        transform-style: preserve-3d;
        transform: translate3d(0, 0, 3rem);
    }

    &--minus {
        transform-style: preserve-3d;
        transform: translate3d(0, 0, -6rem);
    }

    &-image {
        display: grid;
        justify-self: center;
        align-self: center;
    }
  }
  }