.grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  perspective: 350px;
  perspective-origin: 50%;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-auto-columns: auto;
  align-items: center;
  justify-items: center;
  display: grid;
  @include full-screen;
  transform: none;

  &__item {
    display: grid;
    grid-area: span 1 / span 1 / span 1 / span 1;
    @include square(4rem, $radius: 0.7rem);
    background-color: $grid-item-color;

    &:nth-child(3n+3) {
        transform-style: preserve-3d;
        transform: translate3d(0, 0, 3rem);
    }

    &:nth-child(5n+5) {
        transform-style: preserve-3d;
        transform: translate3d(0, 0, -6rem);
    }

    &-image {
        display: grid;
        justify-self: center;
        align-self: center;
    }
  }
  }