.introduction {
    padding: 50px 10px 0;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0% 3%;
        padding: 0 5%;
    }

    &__header {
        color: $secondary-color;
        text-shadow: 5px 4px 11px $bg-color, 0 2px 5px $bg-color;
        font-size: clamp(1.5rem, 3.5vw, 2rem);
        font-weight: 800;
        margin: 20px 0 20px;
    }

    &__item {
        &-img {
        border-radius: 50%;
        width: clamp(6rem, 40%, 40rem);
        transition: transform 0.3s ease-in;

        &:hover {
           box-shadow: 0 0 3rem $secondary-color;
           transform: rotate(180deg);
          }
        }
    }


}