.rows {
    padding: 100px 0 100px;
    &__row {
        display: flex;

        &:last-child {
            animation: 60000ms linear 0ms infinite alternate both slideRight;
        }

        &:first-child {
            animation: 60000ms linear 0ms infinite alternate both slideLeft;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        &-element {
            background-color: $base-color;
            border-radius: 2rem;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }

        &-text {
            color: $text-color;
            text-shadow: 5px 4px 11px $bg-color, 0 2px 5px $bg-color;
            font-size: clamp(1rem, 3.5vw, 1.5rem);
            padding: 1rem 2rem;
            white-space: nowrap;
        }
    }
}