<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
    <link rel="stylesheet" href="../styles/index.scss">
    <title>Advice generator</title>
</head>
<body>
    <section class="container">
        {% include "./components/introduction.njk" %}
    </section>
    <section class="container">
        {% include "./components/floating-grid.njk" %}
        {% include "./components/advice.njk" %}
    </section>
    <section class="container">
        {% include "./components/word-rows.njk" %}
    </section>
    <script src="../js/index.js"></script>
</body>
</html>