{% from "../macros/adviceMacro.njk" import advice %}

    {{advice(
    header_id='adviceTitle',
    header='advice # 179',
    txt_id='adviceTtext',
    text_class='advice__text',
    txt='Never regret. If it is good. If it is bad, it is experience.',
    id="colorButton",
    class="advice__button-image",
    src='../images/dice.svg',
    alt='btn-image',
    width='40rem',
    class2='',
    src2='../images/pattern-divider.svg',
    alt2='dividere',
    width2='250rem') }}