{% from "../macros/itemMacro.njk" import grid_item %}

<div class="container__background">
    <div id="floating" class="grid">
        {{ grid_item (
            item.class,
            item.src,
            item.alt,
            item.width) }}
    </div>
</div>