{% from "../macros/headerMacro.njk" import main_header %}
{% from "../macros/textMacro.njk" import text %}
{% from "../macros/introductionMacro.njk" import introduction %}

    <div class="introduction">
        {{main_header(
            class= 'introduction__header',
            header= 'Advice generator')}}
        {{text(
            class= 'advice__text',
            txt= 'Our service will help you make the right decisions about:' )}}
        {{ introduction (
            item.class,
            item.src,
            item.alt,
            item.width,
            item.text_class,
            item.txt) }}
        {{text(
            class= 'advice__text',
            txt= '... and many more' )}}
    </div>
