{% from "./titleMacro.njk" import title %}
{% from "./textMacro.njk" import text %}
{% from "./imageMacro.njk" import image %}

{% macro advice(header_id, header_class, header, txt_id, text_class, txt, class, src, alt, width) %}
    {% if header %}
        {{title(header_id, header_class, header)}}
    {% endif %}
    {% if txt %}
        {{text(txt_id, text_class, txt)}}
    {% endif %}
    {% if src %}
        {{image(class, src, alt, width) }}
    {% endif %}
{% endmacro %}