{% import "../data/introduction_items.njk" as items %}
{% from "./imageMacro.njk" import image %}
{% from "./textMacro.njk" import text %}

{% macro introduction(class, src, alt, width, txt_id, text_class, txt) %}
    <div class="introduction__container">
        {% for item in items.items %}
        <div class="introduction__item">
            {{image(item.class, item.src, item.alt, item.width) }}
            {{text(item.txt_id, item.text_class, item.txt)}}
        </div>
        {% endfor %}
    </div>
{% endmacro %}