{% import "../data/grid_items.njk" as items %}
{% from "./imageMacro.njk" import image %}

{% macro grid_item(class, src, alt, width) %}
{% for item in items.items %}
    <div class="grid__item">
        {{ image(item.class, item.src, item.alt, item.width) }}
    </div>
{% endfor %}
{% endmacro %}