{% import "../data/word_items.njk" as words %}
{% from "./elementMacro.njk" import element %}

{% macro row(txt_id, text_class, txt) %}
    <div class="rows__row">
        {% for _ in range(25) %}
            {% for item in words.words %}
                {{ element(item.txt_id, item.text_class, item.txt) }}
            {% endfor %}
        {% endfor %}
    </div>
{% endmacro %}