{% set items = [
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '10rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '30rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '20rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '40rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '20rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '40rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '30rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '40rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '40rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '20rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '40rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '30rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '40rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '10rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '40rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '30rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '40rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '30rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '40rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '20rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '40rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '10rem' },
    { class: 'grid__item-image', src: '../images/dice2.svg', alt: 'grig-item-image', width: '30rem' }] %}