{% set items = [
    { class: 'introduction__item-img', src: '../images/girl.jpg', alt: 'image', width: '', text_class: 'advice__text', txt: 'everyday dilemmas' },
    { class: 'introduction__item-img', src: '../images/cat.jpg', alt: 'image', width: '', text_class: 'advice__text', txt: 'pets related questions' },
    { class: 'introduction__item-img', src: '../images/fun.jpg', alt: 'image', width: '', text_class: 'advice__text', txt: 'what to do today' }] %}